{% extends 'base.html.twig' %}

{% block title 'Our recent jobs offers' %}

{% block body %}

    <h1>{{ block('title') }}</h1>

    {% for job in jobs %}
        <div class="job-offer" id="job-{{ job.id }}">
            <h2>
                <a href="{{ path('app_view_job', { 'id': job.id }) }}">
                    {{- job.title|title -}}
                </a>
            </h2>
            {{ include('jobs/metas.html.twig') }}
        </div>
    {% else %}
        <div class="job-offer">
            There are no valid job offers!
        </div>
    {% endfor %}

{% endblock %}
